
<table class="building">
    <tr ng-repeat="floorState in player.floorStates | orderBy:'-floor'">
        <td><img src="img/man.png" alt=""/></td>
        <td class='people'>
            {{ floorState.waitingUsers }}
            <i class="icon-chevron-up" ng-show="floorState.up"></i>
            <i class="icon-chevron-down" ng-show="floorState.down"></i>
        </td>
        <td class="elevator" ng-repeat="floor in player.floors" ng-class="{'elevator-close': !player.doorsAreOpen[$index], 'elevator-at-floor': floorState.floor == player.floors[$index]}">
            <span ng-show="floorState.floor == player.floors[$index]">{{player.peopleInTheElevators[$index]}}</span>
        </td>
        <td><i class="icon-star-empty" ng-show="floorState.target"></i></td>
    </tr>
</table>
